<h1>To-Do List</h1>
<ul>
  <% tasks.forEach(task => { %>
    <li>
      <a href="/task?id=<%= task.id %>"><%= task.title %></a> - <%= task.description %>
    </li>
  <% }) %>
</ul>
<a href="/add-task">Add New Task</a>
